extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="convImages/profile.jpg")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="convImages/trophy.png")
    p Jane Doe
  div.currentBalance
    h1 CURRENT BALANCE
    p.currentBalance $100
    a(class='btn' href='newTransaction') NEW TRANSACTION

  div.transactionHistory
    a(href='/')
      div.transaction
        div.transaction__date
          p.transaction__date--large 25
          p 04
        div.transaction__info
          p Yanis Maesschalck
          p.transaction__info--small Desing help
        div.transaction__amount
          p.transaction__amount--negative -$15
    a(href='/')
      div.transaction
        div.transaction__date
          p.transaction__date--large 25
          p 04
        div.transaction__info
          p Yanis Maesschalck
          p.transaction__info--small Desing help
        div.transaction__amount
          p.transaction__amount--positive $15
    a(href='/')
      div.transaction
        div.transaction__date
          p.transaction__date--large 25
          p 04
        div.transaction__info
          p Yanis Maesschalck
          p.transaction__info--small Desing help
        div.transaction__amount
          p.transaction__amount--negative -$15

    a(href='/')
      div.transaction
        div.transaction__date
          p.transaction__date--large 25
          p 04
        div.transaction__info
          p Yanis Maesschalck
          p.transaction__info--small Desing help
        div.transaction__amount
          p.transaction__amount--positive $15

      
    a(class='btn' href='transactionHistory') FULL HISTORY
    script(src='javascript/index.js')