extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="images/profile.jpg")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="/images/trophy.png")
    p Jane Doe
  div.currentBalance
    h1 CURRENT BALANCE
    p.currentBalance $100
    a(class='btn' href='newTransaction') NEW TRANSACTION
  div.latestHistory
    div.item
      div.date
        p.p--day 25
        p 04
      div.info
        p Yanis Maesschalck
        p.p--reason Desing help
      div.amount
        p.p--plus -$15

    div.item
      div.date
        p.p--day 25
        p 04
      div.info
        p Yanis Maesschalck
        p.p--reason Desing help
      div.amount
        p.p--plus -$15

    div.item
      div.date
        p.p--day 25
        p 04
      div.info
        p Yanis Maesschalck
        p.p--reason Desing help
      div.amount
        p.p--plus -$15

    div.item
      div.date
        p.p--day 25
        p 04
      div.info
        p Yanis Maesschalck
        p.p--reason Desing help
      div.amount
        p.p--plus -$15

      
    a(class='btn' href='transactionHistory') FULL HISTORY