extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="convImages/logo.png")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="convImages/trophy.png")
    p.fullName 
  div.currentBalance
    h1 CURRENT BALANCE
    p.currentBalanceNumber
    a(class='btn' href='transfer') NEW TRANSACTION

  div.transactionHistory
  script(src='/primus/primus.js')
  script(src='javascript/dist/index-min.js')
  script(src='javascript/dist/currentBalance-min.js')
  script(src='javascript/dist/currentInfo-min.js')
  
