extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="convImages/profile.jpg")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="convImages/trophy.png")
    p Jane Doe

  div.wrapper
    div.closeHeader
      h1 Leaderboard
      a(class='close' href="/")
        div.stripe
        div.stripe

    div.leaderboard

      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260
      
      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260

      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260

      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260

      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260
            
      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260

      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260

      div.transaction
          div.transaction__place
            p #1
          div.transaction__info
            p Amber Waltens
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260
            
      div.transaction.myPlace
          div.transaction__place
            p #15
          div.transaction__info
            p Jane Doe
            p.transaction__count 243 transactions
          div.transaction__amount
            p.transaction__amount--positive $1260
