extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="images/profile.jpg")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="/images/trophy.png")
    p Jane Doe

  div.wrapper
    div.closeHeader
      h1 Leaderboard
      a(class='close' href="/")
        div.stripe
        div.stripe

    div.leaderboard

      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260
      
      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260

      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260

      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260

      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260
            
      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260

      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260

      div.item
          div.place
            p #1
          div.info
            p Amber Waltens
            p.p--amountTransactions 243 transactions
          div.amount
            p.p--plus $1260
            
      div.item.myPlace
            div.place
              p #15
            div.info
              p Jane Doe
              p.p--amountTransactions 230 transactions
            div.amount
              p.p--plus $1100