extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="convImages/logo.png")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="convImages/trophy.png")
    p.fullName

  div.wrapper
    div.closeHeader
      h1 Leaderboard
      a(class='close' href="/")
        div.stripe
        div.stripe

    div.leaderboard
            
      
            
    script(src='javascript/dist/currentInfo-min.js')
    script(src='javascript/dist/leaderboard-min.js')      
    script(src='javascript/dist/leaderboardMyPlace-min.js') 