extends layout

block content
  div.login
    h1.name IMDOLLAR
    p The currency to reward your fellow students for their help
    // sign in form
    form(method='POST' action='/signin')
      h1 LOGIN TO YOUR ACCOUNT
      div.form__group
        label(for='email') School e-mail:
        input#email.form-control(type='email', placeholder='r-number@student.thomasmore.be' name='email')
      div.form__group
        label(for='password') Password:
        input#pw.form-control(type='password' placeholder='Password' name='password')
      button.btn(type='submit') sign in
    a(class='link' href='register') New here?