extends layout

block content
  div.startForm
    h1.name IMDOLLAR
    p The currency to reward your fellow students for their help
    // sign in form
    form(method='POST' action='/signin')
      h1 LOGIN TO YOUR ACCOUNT
      p.error.general
      div.form__group
        label(for='email') School e-mail:
        input#email(type='email', placeholder='r-number@student.thomasmore.be' name='email')
        p.error.email
      div.form__group
        label(for='password') Password:
        input#pw(type='password' placeholder='Password' name='password')
        p.error.password
      button.btn.login(type='submit') sign in
    a(class='link' href='signup') New here?
  script(src='javascript/dist/login-min.js')