extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="convImages/profile.jpg")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="convImages/trophy.png")
    p.fullName
  
  div.wrapper
    div.closeHeader
      h1 NEW TRANSACTION
      a(class='close' href="/")
        div.stripe
        div.stripe

    form(method='POST' action='/newTransaction')
      div.form__group
        label(for='to') Transaction to:
        input#transactionTo(type='email', placeholder='r-number@student.thomasmore.be' name='to')
      div.matchList
      div.form__group
        label(for='amount') Amount of IMDollars:
        input#amount(type='number', placeholder='5' name='amount')
      div.form__group
        label(for='reason') Reason for transaction:
        select(name='dropDown', id='reason')
          each val in ['Design help' , 'Development help' , 'Feedback', 'Meeting deadlines', 'Other']
            option=val
      div.form__group
        label(for='message') Leave a message:
        input#message.form-control(type='text', placeholder='Write a message' name='message')
      button#newTransaction(class='btn' href='transactionCompleted') confirm transaction
  script(src='http://localhost:3000/primus/primus.js')
  script(src='javascript/match.js')
  script(src='javascript/fillTransfer.js')
  script(src='javascript/transfer.js')
  script(src='javascript/currentInfo.js')  
