extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="./convImages/logo.png")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="./convImages/trophy.png")
    p.fullName

  div.wrapper
    div.closeHeader
      h1 Transaction details
      a(class='close' href="/")
        div.stripe
        div.stripe

    div.details
        div.section
            div.item
                p First name:
                p.firstName
            div.item
                p Last name:
                p.lastName
        div.section
            div.item
                p Email:
                p.email
        div.section
            div.item
                p Balance:
                p.balance
        div.section
            div.item
                p Transfer count:
                p.transfers
    a.logout(class='btn' href='/login') LOGOUT
  script(src='javascript/dist/profile-min.js')
  script(src='javascript/dist/currentInfo-min.js')