extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="images/profile.jpg")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="/images/trophy.png")
    p Jane Doe

  div.wrapper
    div.closeHeader
      h1 PROFILE
      a(class='close' href="/")
        div.stripe
        div.stripe

    // change profile information form
    form(method='POST' action='/signin')
        h2 CHANGE PROFILE PICTURE
        div.form__group--profile
            label(for='picture') Upload picture:
            input(type='file' placeholder="pick file" name='picture')
        h2 CHANGE PASSWORD
        div.form__group--profile
            label(for='oldPassword') Old password:
            input(type='password' name='oldPassword')
            label(for='newPassword') New password:
            input(type='password' name='newPassword')
        button.btn.btn-primary(type='submit') Save changes