extends layout

block content
  div.startForm
    h1.name IMDOLLAR
    p The currency to reward your fellow students for their help
    p.alert
    // register form
    form.signup(method='POST')
      h1 REGISTER AN ACCOUNT
      div.form__group
        label(for='email') School e-mail:
        input#email.form-control(type='email', placeholder='r-number@student.thomasmore.be' name='email')
      div.form__group
        label(for='firstName') First Name:
        input#firstName.form-control(type='text', placeholder='first name' name='firstName')
      div.form__group
        label(for='lastName') Last Name:
        input#lastName.form-control(type='text', placeholder='last name' name='lastName')
      div.form__group
        label(for='password') Password:
        input#pw.form-control(type='password' placeholder='Password' name='password')
      button.btn.btn-primary.signup(type='submit' name="submit" value='signup') sign up
    a(class='link' href='login') Already have an account?
  script(src='../public/javascript/signup.js')