extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="convImages/profile.jpg")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="convImages/trophy.png")
    p.fullName

  div.wrapper
    div.closeHeader
      h1 Transaction details
      a(class='close' href="/")
        div.stripe
        div.stripe

    div.details
        div.section
            div.item
                p Transaction from:
                p Jane Doe
            div.item
                p Transaction to:
                p Yanis De Maesschalck
        div.section
            div.item
                p Amount:
                p $10
        div.section
            div.item
                p Reason for transaction:
                p Feedback
        div.section
            div.item
                p Description:
                p Lorem ipsum dolor sir amet lorem ipsum dolor sir amet lorem ipsum dolor sir amet
    script(src='javascript/dist/currentInfo-min.js')  