extends layout

block content
  div.header
    a(class='header__profilePicture' href='profile')
      img(src="./../convImages/logo.png")
    a(class='header__leaderBoardIcon' href='leaderboard')
      img(src="./../convImages/trophy.png")
    p.fullName

  div.wrapper
    div.closeHeader
      h1 Transaction details
      a(class='close' href="/")
        div.stripe
        div.stripe

    div.details
        div.section
            div.item
                p Transaction from:
                p.from
            div.item
                p Transaction to:
                p.to
        div.section
            div.item
                p Amount:
                p.amount
        div.section
            div.item
                p Reason for transaction:
                p.reason
        div.section
            div.item
                p Description:
                p.description
    script(src='./../javascript/dist/currentInfo-min.js')
    script(src='./../javascript/dist/transactionDetails-min.js')  