extends layout

block content
  div.header
    div.profilePic
      a(class='profile' href='profile')
        img(src="")
    div.leaderBoardIcon
      a(class='leader' href='leaderboard')
        img(src="")
    p Jane Doe
  div.fullHistory
    div.closeHeader
      p ALL TRANSACTIONS 
      a(class='close' href="/")
        p x
    div.oneHistory
      p 25/03
      p Amber Waltens
      p Feedback
      p $10
    div.oneHistory
      p 22/03
      p Amber Waltens
      p Desing help
      p -$15
    div.oneHistory
      p 20/03
      p Yanis Maesschalck
      p Feedback
      p $10
    div.oneHistory
      p 14/03
      p Yanis Maesschalck
      p Desing help
      p -$15
    div.oneHistory
      p 13/03
      p Amber Waltens
      p Desing help
      p -$15
    div.oneHistory
      p 10/03
      p Yanis Maesschalck
      p Desing help
      p -$15
    div.oneHistory
      p 09/03
      p Amber Waltens
      p Feedback
      p $10
    div.oneHistory
      p 07/03
      p Amber Waltens
      p Desing help
      p -$15
    div.oneHistory
      p 06/03
      p Yanis Maesschalck
      p Feedback
      p $10
    div.oneHistory
      p 14/02
      p Yanis Maesschalck
      p Desing help
      p -$15
    div.oneHistory
      p 13/02
      p Amber Waltens
      p Desing help
      p -$15
    div.oneHistory
      p 10/02
      p Yanis Maesschalck
      p Desing help
      p -$15