* {
  font-family: 'Poppins', sans-serif;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  background-color: #202124;
}

h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 500;
}

.p--min {
  color: #C73A40;
}

.p--plus {
  color: #139F2A;
}

input {
  background-color: #202124;
  border: none;
  height: 35px;
  width: 100%;
  padding-left: 10px;
}

input::-webkit-input-placeholder {
  color: #6A6A6C;
}

input:-ms-input-placeholder {
  color: #6A6A6C;
}

input::-ms-input-placeholder {
  color: #6A6A6C;
}

input::placeholder {
  color: #6A6A6C;
}

.form__group {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form__group label {
  margin-bottom: 5px;
  display: block;
}

.form__group:first-of-type {
  padding-top: 0;
}

.form__group:last-of-type {
  margin-bottom: 50px;
  padding-bottom: 0;
}

select {
  width: 100%;
  height: 35px;
  border: none;
  color: white;
  background-color: #202124;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.btn {
  background-color: #C73A40;
  border: none;
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
}

.wrapper, .currentBalance, .transactionHistory, .leaderboard {
  background-color: #323438;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 30px;
}

.wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.closeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.closeHeader .close {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20px;
  padding-top: 10px;
}

.closeHeader .close .stripe {
  width: 20px;
  height: 3px;
  margin-bottom: 2px;
  background-color: #C73A40;
}

.closeHeader .close .stripe:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: -3px;
}

.closeHeader .close .stripe:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -3px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header .header__profilePicture {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.header .header__profilePicture img {
  width: 100px;
}

.header .header__leaderBoardIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -30px;
  margin-right: -60px;
}

.header .header__leaderBoardIcon img {
  width: 20px;
}

.header p {
  margin-top: 15px;
  font-weight: 400;
}

.startForm {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.startForm .name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  padding-left: 0px;
}

.startForm form {
  background-color: #323438;
  border-radius: 10px 10px 0 0;
  text-align: left;
  padding-top: 30px;
  margin-top: 50px;
}

.startForm a {
  margin-top: 30px;
}

.startForm h1 {
  padding-left: 20px;
}

.currentBalance {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currentBalance h1 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.currentBalance p {
  margin: 0;
  padding-bottom: 0;
  font-size: 32px;
  margin-bottom: 50px;
}

.transactionHistory, .leaderboard {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transactionHistory a, .leaderboard a {
  border-bottom: 2px solid #202124;
}

.transactionHistory a:last-of-type, .leaderboard a:last-of-type {
  border: none;
}

.transactionHistory .item, .leaderboard .item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto 30%;
      grid-template-columns: 100px auto 30%;
  height: 75px;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.transactionHistory .item .date, .leaderboard .item .date, .transactionHistory .item .leaderboard .place, .leaderboard .item .place {
  background-color: #202124;
  border-radius: 50%;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7px;
}

.transactionHistory .item .date .p--day, .leaderboard .item .date .p--day, .transactionHistory .item .leaderboard .place .p--day, .leaderboard .item .place .p--day {
  font-size: 20px;
  line-height: .8;
}

.transactionHistory .item .info, .leaderboard .item .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.transactionHistory .item .info p, .leaderboard .item .info p {
  font-weight: 400;
}

.transactionHistory .item .info .p--reason, .leaderboard .item .info .p--reason, .transactionHistory .item .info .leaderboard .p--amountTransactions, .leaderboard .item .info .p--amountTransactions {
  font-size: 14px;
}

.transactionHistory .item .amount, .leaderboard .item .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.transactionHistory .item:last-of-type, .leaderboard .item:last-of-type {
  border: none;
}

.leaderboard .item {
  border-bottom: 2px solid #202124;
}

.myPlace {
  position: fixed;
  width: 100%;
  margin-left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #323438;
  bottom: 0;
  border: 2px solid white;
  border-top: 2px solid #202124 !important;
}
/*# sourceMappingURL=style.css.map */