$darkest : #202124;
$lighter : #323438;
$red : #C73A40;
$green : #139F2A;

*{
  font-family: 'Poppins', sans-serif;
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Algemene styling 

body {
  padding: 50px;
  background-color: $darkest;
}

h1{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  padding-left: 20px;
}

a{
  text-decoration: none;
}

p{
  font-size: 16px;
  font-weight: 500;
}

input{
  background-color: $darkest;
  border: none;
  height: 35px;
  width: 100%;
  padding-left: 10px;
}

input::placeholder {
  color: #6A6A6C;
}

.form__group{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  label{
    margin-bottom: 5px;
    display: block;
  }
}

.form__group:first-of-type{
  padding-top: 0;
}

.form__group:last-of-type{
  margin-bottom: 50px;
  padding-bottom: 0;
}

.btn{
  background-color: $red;
  border: none;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  border-radius: 0 0 10px 10px;
}

// Login

.login{
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  

  .name{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    padding-left: 0px;
  }

  form{
    background-color: $lighter;
    border-radius: 10px 10px 0 0;
    text-align: left;
    padding-top: 30px;
    margin-top: 50px;
  }

  a{
    margin-top: 30px;
  }

}
