.closeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  
    .close {
      justify-content: flex-end;
      height: 20px;
      padding-top: 10px;
  
      .stripe {
        width: 20px;
        height: 3px;
        margin-bottom: 2px;
        background-color: $red;
      }
  
      .stripe:first-of-type {
        transform: rotate(45deg);
        margin-bottom: -3px;
      }
  
      .stripe:last-of-type {
        transform: rotate(-45deg);
        margin-top: -3px;
      }
    }
  }