.transactionHistory {
  @extend %section;
  flex-direction: column;

  a {
    border-bottom: 2px solid $darkest;
  }

  a:last-of-type {
    border: none;
  }

  .item {
    flex-direction: row;
    display: grid;
    grid-template-columns: 100px auto 30%;
    height: 75px;
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: content-box;

    .date {
      background-color: $darkest;
      border-radius: 50%;
      width: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 7px;

      .p--day {
        font-size: 20px;
        line-height: .8;
      }
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-weight: 400;
      }

      .p--reason {
        font-size: 14px;
      }
    }

    .amount {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
      padding-right: 20px;
    }
  }

  .item:last-of-type {
    border: none;
  }
}

.leaderboard {
    @extend .transactionHistory;
  
    .place {
      @extend .date;
    }
  
    .p--amountTransactions {
      @extend .p--reason;
    }
  
    .item {
      border-bottom: 2px solid $darkest;
    }
  }

  .myPlace {
    position: fixed;
    width: 100%;
    margin-left: -50px;
    display: flex;
    background-color: $lighter;
    bottom: 0;
    border: 2px solid white;
    border-top: 2px solid $darkest !important;
  }