//-----------------Login and register-----------------//

.startForm {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .error{
      padding-top: 3px;
    }
  
  
    .name {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 0;
      padding-left: 0px;
    }
  
    form {
      background-color: $lighter;
      border-radius: 10px 10px 0 0;
      text-align: left;
      padding-top: 30px;
      margin-top: 50px;
    }
  
    a {
      margin-top: 30px;
    }
  
    h1 {
      padding-left: 20px;
      margin-bottom: 10px;
    }

    .error.general{
      padding-left: 20px;
    }

    .form__group:first-of-type{
      margin-top: 40px;
    }
  
  }