.wrapper.newTransaction{
    h1 {
        margin-bottom: 10px;
      }
    
    .error.general{
        padding-left: 20px;
    }
    
    .form__group:first-of-type{
        margin-top: 40px;
    }
}