.form__group--profile{
    @extend .form__group;
    margin-bottom: 30px;
  }
  
  input[type='file']::-webkit-file-upload-button{
    height: 35px;
    margin: 0;
    background-color: $red;
    border: none;
    color: white;
  }
  
  input[type='file']{
    padding: 0;
  }
  
  .completed{
    text-align: center;
    margin-top: 20px;
  }
  
  .details{
  
    padding-left: 20px;
    padding-right: 20px;
    
    .section{
      border-bottom: 1px solid $darkest;
      padding-top: 20px;
      padding-bottom: 20px;
  
      .item{
        display: flex;
        justify-content: space-between;
      }
    }
  }